.header {
  height: 5rem; /* Use this to pad top and offset first content to be visible */
  position: fixed;
  width: 100%;
  z-index: 1000;
  text-align: center;
  align-items: center;
  transition: 0.3s;
  color: white;
}

.headerWhite {
  background-color: #68a4fe;
}

.headerTransparent {
  background-color: transparent;
  color: white;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.logo {
  width: 30%;
  font-size: 1.8rem;
  text-align: center;
}

@media only screen and (max-width: 575px) {
  .logo {
    width: 30%;
    font-size: 1.8rem;
    text-align: center;
    font-size: 1.25rem;
  }
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  width: 70%;
  font-weight: bold;
  font-size: 1.12rem;
}

.links :hover {
  text-decoration: underline;
}
