.container {
  height: 92.5%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contents img {
  width: auto;
  max-width: 150px;
  height: auto;
  max-height: 100px;
}

.contents section {
  /* height: 75px; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  z-index: 100;
}

.container button {
  border: none;
  border-radius: 5px;
  background-color: #0066ff;
  color: white;
  height: 30px;
  align-content: flex-end;
}

.container button:hover {
  cursor: pointer;
  background-color: #004fc4;
}
