.secondImageText {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  font-family: "Monserrat", sans-serif;
  color: white;
  text-align: center;
  margin: 0.625rem;
}

.content h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}

.temp {
  height: 1000px;
}
