.container {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/second-landing-page-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
